#main {
    display: grid;
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: fixed;
    font-family: Arial, sans-serif;
    font-size: 13px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "top top top top"
                         "left center center right"
                         "bottom bottom bottom bottom";
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.search-button {
    height: 36px;
    width: 120px;
    font-size: 14px;
}

.top {
    grid-area: top;
    position: relative;
    align-self: start;
}

.left {
    width: 100px;
    padding: 20px;
}

.right {
    width: 25%;
    padding: 20px;
}

.center {
    grid-area: center;
    align-self: center;
    justify-self: center;
}

.bottom {
    grid-area: bottom;
    align-self: end;
    border-top: 1px solid #e4e4e4;
    position: relative;
    height: 32px;
    bottom: 8px;
    background: #f2f2f2;
}

.bottom a {
    color: #5f6368;
}

.item {
    position: absolute;
}

.bottom .left .item {
    bottom: 18%;
}

.top .right .item{
    bottom: 50%;
}

.about {
    left: 25px;
    top: 23px;
}

.store {
    left: 77px;
    top: 23px;
}

.account {
    right: 30px;
    top: 16px;
}

.account-btn {
    background-color: #4387fd;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    color: white;
    padding: 6px 12px 7px 12px;
    text-align: justify;
}

.account-btn:hover {
    box-shadow: gray 0px 1px;
}

.apps {
    right: 117px;
    top: 19px;
}

.images {
    right: 159px;
    top: 23px;
}

.mail {
    right: 217px;
    top: 23px;
}

.settings {
    right: 30px;
    bottom: 5px;
}

.terms {
    right: 104px;
    bottom: 5px;
}

.privacy {
    right: 167px;
    bottom: 5px;
}

.howitworks {
    left: 200px;
}

.business {
    left: 121px;
}

.advertising {
    left: 30px;
}

.center {
    position: absolute;
    bottom: 130px;
    right: 160px;
}

.search {
    position: relative;
    font: 16px arial, sans-serif;
    border: none;
    padding-left: 35px;
    padding-right: 35px;
    width: 490px;
}

.search:focus {
    outline-width: 0;
}

img {
    position: absolute;
    bottom: 100px;
    right: 63px;
    padding: 25px;
}

.searchbox {
    position: relative;
    width: 560px;
    padding: 10px 5px 10px 5px;
    border-radius: 20px;
    border: 1px solid grey;
    left: 52px;
    bottom: 10px;
}

.searchbox:hover {
    box-shadow: 2px 2px 2px grey;
}

#search {
    position: relative;
    left: 180px;
    top: 15px;
}

#lucky {
    position: relative;
    left: 200px;
    top: 15px; 
    width: 140px;
}

.search-button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
}

.search-button:hover {
    border: 1px solid #4d4747;
    color: #4d4747;
}